<%= render 'shops/bar' %>
<h1>店舗情報</h1>

<table class="table">
    
    <tr>
        <th>店舗名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>店舗説明</th>
        <th></th>
    </tr>
    
    <tr>
        <% @shops.each do |shop| %>
        <td><%= shop.shopname  %></td>
        <td><%= shop.address %></td>
        <td><%= shop.phonenumber %></td>
        <td><%= shop.description %></td>
        <% end %>
    </tr>
    
</table>

<%= link_to "店舗編集", edit_shop_registration_path, class: "btn btn-primary" %>
<%= link_to "商品一覧" , items_path, class: "btn btn-success" %>


