<%= render 'shops/bar' %>
<h1>店舗情報</h1>

<table class="table">
    
    <tr>
        <th>店舗写真</th>
        <th>店舗名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>店舗説明</th>
    </tr>
    
    <tr>
         <td><%= image_tag current_shop.shop_image,class: "shop-images" if current_shop.shop_image.attached? %></td>
        <td><%= current_shop.shopname  %></td>
        <td><%= current_shop.address %></td>
        <td><%= current_shop.phonenumber %></td>
        <td><%= current_shop.description %></td>
    </tr>
    
</table>

<%= link_to "店舗編集", edit_shop_registration_path, class: "btn btn-primary" %>
<%= link_to "商品一覧" , items_path, class: "btn btn-success" %>


