<div class="container">
<h1>ショッピングカート</h1>
    <table class="table">
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>グラム数</th>
            <th>商品数</th>
        </tr>
        <% @cart_items.each do |c| %>
             <tr> 
                 <td><%= c.item.itemname %></td>
                 <td><%= c.item.price %>円</td>
                 <td><%= c.item.gram %>g</td>
                 <td><%= c.count %></td>
                 <td>
                     <%= link_to "削除", users_cart_cart_item_path(:cart_id), method: "delete", class: "btn btn-danger" %>
                 </td>
            </tr>
        <% end %>
    </table>
    <%= link_to "買い物を続ける", users_path, class: "btn btn-primary" %>
</div>