

<h1>商品一覧画面</h1>

<div class="card">
    <div class="card-body">
        <%= form_with method: "get", local: true do |f| %>
        <div class="form-row">
            <div class="col">
                <%= f.text_field "itemname", placeholder: "商品名を入力", class: "form-control" %>
            </div>
            <div class="col">
                <%= f.submit "検索", class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<table class="table">
    <tr>
        <th>商品写真</th>
        <th>商品名</th>
        <th>価格</th>
        <th>グラム数</th>
    </tr>
    <% @items.each do |i| %>
     <tr> 
         <td><%= image_tag i.image,class: "item-images" if i.image.attached? %></td>
         <td><%= i.name %></td>
         <td><%= i.price %>円</td>
         <td><%= i.gram %>g</td>
         <td><%= link_to "商品詳細", shops_item_path(i), class: "btn btn-info" %></td>
         <td><%= link_to "商品編集", edit_shops_item_path(i), class: "btn btn-warning" %></td>
         <td><%= link_to "商品削除", shops_item_path(i), method: "delete", data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
    </tr>
       
    <% end %>
</table>