<h1>ショッピングカート</h1>

<table class="table">
    <tr>
        <th>商品写真</th>
        <th>商品名</th>
        <th>価格</th>
        <th>グラム数</th>
        <th>商品数</th>
    </tr>
    <% @cart_items.each do |c| %>
    <td><%= image_tag c.items.image,class: "item-images" if c.items.image.attached? %></td>
    <td><%= c.items.itemname %></td>
    <td><%= c.items.price %>円</td>
    <td><%= c.items.gram %>グラム</td>
    <td><%= link_to "商品詳細",  class: "btn btn-info" %></td>
    <td><%= link_to "商品削除", method: "delete", data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
</table>
<table>
    <tr>
        <th>合計</th>
        <th><%= link_to "購入する", users_room_path(@shop.id) %></th>
    </tr>
</table>