<% render 'users/bar' %>
<h1>メッセージ</h1>
<% if user_signed_in? %>
<h3><%= @shop.shopname %>のメッセージルーム</h3>
<% else %>
<h3><%= @user.email %>のメッセージルーム</h3>
<% end %>


<%= form_for [@room, @message] do |f| %>
<%= f.text_field :text %>
<%= f.submit "メッセージを送る" %>
<% end %>

<div class="message-field">
    <% @messages.each do |message| %>
    <% if message.is_user %>
    <div class="right-message">
        <%= message.text %>
    </div>
    <% else %>
    <div class="left-message">
        <%= message.text %>
    </div>
     <% end %>
    <% end %>
</div>
