



<div class="container show-top-container">
    <div class="row row-1">
        <div class="col-md-8 shop-show-img">
            <%= image_tag @shop.shop_image, class: "shop-title-image" if @shop.shop_image.attached? %>
            </div>
        <div class="col-md-4 shop-show-col">
            <h3><%= @shop.shopname %></h3>
            <p><%= @shop.description %></p>
            <%= link_to "メッセージを送る", users_room_path(@shop.id) %>
        </div>
    </div> 
</div>

<div class="card-group">
      
      <div class="card" style="width: 18rem;">
        <%= image_tag @item.image, class: "show-item-img card-img-top" if @item.image.attached? %>
      <div class="card-body">
        <h5 class="card-title"><%= @item.itemname %></h5>
        <p class="card-text"><%= @item.roasting %></p>
        <p class="card-text"><%= @item.gram %>グラム</p>
        <p class="card-text"><%= @item.price %>円</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <%= form_with url: users_cart_cart_items_path(:id, :cart_id), local: true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :shop_id, value: @shop.id %>
            <%= f.number_field :count %>
            <%= f.submit "カートに追加する" %>
        <% end %>
      </div>
    </div>
</div>