<div class="container">
<h1>商品詳細</h1>
<table class="table table-striped">
    <tr>
        <th>商品写真</th>
        <td><%= image_tag @item.image,class: "item-images" if @item.image.attached? %></td>
    </tr>
    
    <tr>
        <th>商品名</th>
        <td><%= @item.itemname %></td>
    </tr>
    
    <tr>
        <th>商品説明</th>
        <td><%= @item.description %></td>
    </tr>
    
    <tr>
        <th>価格</th>
        <td><%= @item.price %>円</td>
    </tr>
    
    <tr>
        <th>グラム数</th>
        <td><%= @item.price %>g</td>
    </tr>
    
    <tr>
        <th>焙煎度</th>
        <td><%= @item.roasting %></td>
    </tr>
    
    <tr>
        <th>苦味</th>
        <td><%= @item.bitterness %></td>
    </tr>
    
    <tr>
        <th>酸味</th>
        <td><%= @item.sourness %></td>
    </tr>
    
    <tr>
        <th>コク</th>
        <td><%= @item.body %></td>
    </tr>
    
    <tr>
        <th>後味</th>
        <td><%= @item.aftertaste %></td>
    </tr>
    
</table>

<%= link_to "戻る", items_path, class: "btn btn-primary" %>
</div>